{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">

<div class="container mt-4">
    <h1>About Page</h1>
    <div class="row">
        <div class="col-12 col-md-6">
            <h1>About SGamerS</h1>

            <img src="https://static.vecteezy.com/system/resources/thumbnails/002/098/203/small_2x/silver-tabby-cat-sitting-on-green-background-free-photo.jpg" jsaction="" class="sFlh5c FyHeAf iPVvYb" style="max-width: 599px; height: 200px; margin: 0px; width: 250;" alt="Cat Stock Photos, Images and Backgrounds for Free Download" jsname="kn3ccd">
            <p>
              Welcome to <strong>SGamerS</strong>!
              This is a simple website made for sharing the latest game news, tips, and ideas.
            </p>

            <p>
              I created SGamerS because I love video games and I want to practice my web development skills.
              Here you can find short news about new releases, updates, and interesting game topics.
            </p>

            <p>
              This website is still growing, but my goal is to make it fun and useful for other gamers.
              Thank you for visiting and supporting SGamerS!
            </p>
        </div>
    </div>
</div>

{% endblock %}